@media only screen and (min-width: 32.5em) {
    header img {
        box-shadow: 5px 5px white;
        margin-top: 10px;
        border-style: double;
    }

    header {
        background-color: #350bf3;
        text-align: right;
    }

    footer {
        background-color: #350bf3;
        border-style: dotted;
    }
}