h1 {
    font-family: 'Open Sans', sans-serif;
}

h2 {
    font-family: 'Roboto', sans-serif;
}

header {
    display: block;
    background-color: #00FF00;
    color: white;
    text-align: center;
}
footer {
    background-color: #00FF00;
    color: white;
    text-align: center;
    font-size: 15px;
}


main {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    font-size: 25px;
}